NEXT_PUBLIC_SUPABASE_URL=https://bcuntykzwegozasjmulw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjdW50eWt6d2Vnb3phc2ptdWx3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwODg0NDksImV4cCI6MjEwMDY2NDQ0OX0.EvwC2T9wCcFHpW_69hdPK2B87eebf9Dr3-M198QKUmU
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
